---
import Base from '../../layouts/Base.astro';
import { readFileSync } from 'fs';
import AUTODOC_ENTRIES from '../../../public/autodoc/index.json';

export const getStaticPaths = () => {
  let paths: { params: { slug: string }; props: Props }[] = [];

  AUTODOC_ENTRIES.forEach((slug) => {
    const name = slug
      .split('/')[1]
      .split('.')[0]
      .replace(/(?:^|_)([a-z0-9])/gm, (_, p1: string) => p1.toUpperCase())
      .replace(/[A-Z]/gm, ' $&');
    const data = JSON.parse(readFileSync(`public/autodoc/${slug}`).toString());
    paths.push({ params: { slug }, props: { slug, name, data } });
  });

  return paths;
};

export interface Props {
  slug: string;
  name: string;
  data: any;
}

const { slug, name, data } = Astro.props;
---

<Base title={`${name} - Eludris Reference`} description={data.doc} slug={slug}>
  <p>beanos {slug}</p>
</Base>
